@{
    ViewData["Title"] = "LNB Software - Soluciones para Pymes";
}

<<section class="hero-landing text-center text-lg-start">
    <div class="container py-4">
        <div class="row align-items-center g-4">
            <div class="col-lg-8">
                <h1 class="display-1 fw-bold mb-3">Software Intuitivo para Pymes</h1>
                <p class="lead mb-4">
                    Optimiza procesos, aumenta la productividad y toma decisiones inteligentes.
                    Conecta tu negocio al futuro.
                </p>
            </div>
        </div>
        <div class="container text-center mt-4">
            <a href="#contratacion" class="btn glass btn-dark btn-lg">
                Descubre Nuestros Planes
            </a>
        </div>
    </div>
</section>

    <section id="beneficios" class="py-3">
        <div class="container">
            <h2 class="section-title text-center py-2">Una Solución, Múltiples Beneficios</h2>
            <div class="row text-center g-4">
                <div class="col-md-3">
                    <i class="bi bi-shield-check display-4 text-primary"></i>
                    <h5 class="fw-bold mt-3">Centraliza y Asegura</h5>
                    <p>Toda la información de tus clientes y operaciones en un solo lugar y en tu propio servidor.</p>
                </div>
                <div class="col-md-3">
                    <i class="bi bi-phone display-4 text-primary"></i>
                    <h5 class="fw-bold mt-3">Acceso Total</h5>
                    <p>Responsivo y adaptable para que gestiones tu negocio desde cualquier dispositivo.</p>
                </div>
                <div class="col-md-3">
                    <i class="bi bi-stars display-4 text-primary"></i>
                    <h5 class="fw-bold mt-3">Facturación automatizada</h5>
                    <p>Integración con ARCA para generar automaticamente la facturación de las ordenes realizadas.</p>
                </div>
                <div class="col-md-3">
                    <i class="bi bi-bar-chart-line display-4 text-primary"></i>
                    <h5 class="fw-bold mt-3">Decisiones Inteligentes</h5>
                    <p>KPIs y reportes claros para proyectar avances sólidos y tomar mejores decisiones.</p>
                </div>
            </div>
        </div>
    </section>

<section class="hero-resto">
    <section id="demo" class=" pt-1">
        <div class="container">
            <h2 class="section-title text-center">Demo</h2>
            <p class="lead text-center mb-4">Accedé alMirá cómo luce el portal instucional y los paneles de las secciones claves.</p>
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <div class="col"><img src="~/images/demo1.jpg" class="img-cover" alt="Demo 1"></div>
                <div class="col"><img src="~/images/demo2.jpg" class="img-cover" alt="Demo 2"></div>
                <div class="col"><img src="~/images/demo3.jpg" class="img-cover" alt="Demo 3"></div>
            </div>
            <div class="container text-center py-4 ">
                <a asp-controller="Public" asp-action="Portal" class="btn glass btn-dark btn-lg ">
                    <i class="bi bi-window me-2"></i> Ver portal
                </a>
            </div>
        </div>
    </section>

    <section id="contratacion" class="pt-2">
        <div class="container">
            <h2 class="section-title text-center">Contratación</h2>
            <p class="lead text-center mb-4">Tenemos un plan ideal para tu empresa.</p>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 text-center p-3">
                        <div class="card-body">
                            <h5 class="card-title">Plan Inicial</h5>
                            <p class="card-text">Ideal para arrancar. Portal institucional y ABM Clientes + Hosting básico. Soporte por email.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center p-3">
                        <div class="card-body">
                            <h5 class="card-title">Plan PyME</h5>
                            <p class="card-text">Plan Inicial + Módulo de Usuarios y Ordenes. Soporte por email.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center p-3">
                        <div class="card-body">
                            <h5 class="card-title">Plan PREMIUM</h5>
                            <p class="card-text">Plan PyME + Módulo de control de Stock. Incluye reportes básicos (KPIs). Soporte prioritario. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" py-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Plan a Medida</h5>
                        <p class="card-text">Secciones personalizadas para necesidades específicas. Flujos y reportes dinámicos y ajustados. Soporte prioritario y capacitación inicial</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container text-center py-4">
            <!--mi telefono-->
            <a href="https://wa.me/5493492609080?text=Hola%2C%20me%20gustaria%20saber%20mas%20sobre%20el%20Plan%20..." class="btn btn-gradient btn-outline-success glass btn-lg">
                <i class="bi bi-whatsapp me-1"></i>Solicita tu cotización
            </a>
        </div>
    </section>
</section>

