@{
    ViewData["Title"] = "Portal Institucional - BürgiPlot";
}


<section class="hero-portal">
    <div class="container text-center">
        <h1 class="display-6 fw-bold mb-2">Gráfica y estética vehicular </h1>
        <p class="lead"> hacemos realidad el cambio que te imaginaste, con innovación, precisión y compromiso</p>

    </div>

    <div class="container text-center py-4">
        
            <a href="https://wa.me/5493492000000" class="btn btn-gradient btn-outline-success glass btn-lg ">
                <i class="bi bi-whatsapp me-1"></i> Cotizamos tu trabajo
            </a>
        
    </div>
</section>

<section id="mision" class="hero-portal py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold mb-3">Misión</h2>
                <p>
                    Ofrecer un servicio de <strong>alta calidad</strong> en estética vehicular,
                    con creatividad y materiales de primera, donde el único límite sea tu imaginación.
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="feature-ill ratio ratio-1x1 shadow rounded-3">
                    <img src="~/images/misionBurgiplot.png" alt="Misión BürgiPlot" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vision" class="hero-portal py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold mb-3">Visión</h2>
                <p>Ser referentes nacionales en el rubro.<br /> 
                    Aplicar <strong>nuevas técnicas y tecnología de punta</strong> para una mejor experiencia.<br />
                    Establecer la marca como un estilo de excelencia y calidad.</p>
            </div>
            <div class="col-md-6 order-md-1 d-flex justify-content-center">
                <div class="feature-ill ratio ratio-1x1 shadow rounded-3">
                    <img src="~/images/visionBurgiplot.png" alt="Visión BürgiPlot" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="valores" class="hero-portal py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold mb-3">Valores</h2>
                    <p>Honestidad, responsabilidad, calidez, calidad e innovación<br />
                    pero por sobre todo,<strong> pasión por el detalle.</strong>
                </p>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <div class="feature-ill ratio ratio-1x1 shadow rounded-3">
                     <img src="~/images/valoresBurgiplot.png" class="img-fluid contenedor shadow-lg rounded-3" alt="Misión">
                 </div>
            </div>
        </div>
    </div>
</section>

<section id="objetivos" class=" py-4 hero-portal">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold mb-3">Objetivos</h2>
             
                <p>Escalar el negocio familiar,<br />
                    aumentando la <strong>eficacia</strong> de los procesos, <br />
                    mejorar la <strong>eficiencia</strong> del servicio con software<br />
                    y ampliar cartera de clientes.
                </p>
            </div>
            <div class="col-md-6 order-md-1 d-flex justify-content-center">
                <div class="feature-ill ratio ratio-1x1 shadow rounded-3">
                    <img src="~/images/objetivosBurgiplot.png" class="img-fluid imgs shadow-lg rounded-3" alt="Misión">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="TrabajosRealizados" class="hero-portal py-5">
    <div class="container">
        <h2 class="fw-bold mb-3">Trabajos realizados</h2>
        <p>
            Estos son algunos de los trabajos mas relevantes que realizamos lo largo de estos últimos años.
        </p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
            <div class="col"><img src="~/images/logoBurgi.jpg" class="gallery" alt="Trabajo 2"></div>
        </div>
    </div>
    
</section>
