@{
    ViewData["Title"] = "Portal Institucional - BürgiPlot";
}


<section class="hero-portal py-4">
    <div class="container text-center">
        <h1 class="display-6 fw-bold mb-2">Gráfica y estética vehicular </h1>
        <p class="lead mb-0"> con innovación y precisión</p>

    </div>
    <div class="container py-4">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold mb-3">Misión</h2>
                <div class="p-4">
                    <p>Ofrecer un servicio de <strong>alta calidad</strong> <br />
                        en el rubro de la estética vehicular,<br />
                        con creatividad y materiales de primera,<br />
                        donde el único límite sea tu imaginación.
                    </p>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/logoBurgi.jpg" class="img-fluid shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </div>
</section>



<section id="vision" class="py-4 bg-sutil">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold mb-3">Visión</h2>
                <div class="p-4">
                <p>Ser referentes nacionales en el rubro.<br />
                    Aplicar nuevas técnicas y tecnología de punta para una mejor experiencia.<br />
                    Establecer la marca como un estilo de excelencia y calidad.</p>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/logoBurgi.jpg" class="img-fluid shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </div>
</section>

<section id="valores" class="hero-portal py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold mb-3">Valores</h2>
                <div class="p-4">
                    <p>Honestidad, responsabilidad, calidez, calidad e innovación<br />
                        pero por sobre todo, pasión por el detalle.</p>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/logoBurgi.jpg" class="img-fluid imgs shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </div>
</section>

<section id="objetivos" class=" py-4 bg-sutil">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="fw-bold mb-3">Objetivos</h2>
                <div class="p-4">
                <p>Escalar el negocio familiar,<br />
                    ganar eficacia en los procesos, <br />
                    mejorar la eficiencia con software<br />
                    y ampliar cartera de clientes.</p>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/logoBurgi.jpg" class="img-fluid imgs shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </div>
</section>
<section id="TrabajosRealizados" class="hero-portal py-5">
    <div class="container">
        <h2 class="fw-bold mb-3">Trabajos realizados</h2>
        <div class="p-4">
            <p>
                Estos son algunos de los trabajos mas relevantes que realizamos lo largo de estos últimos años.
            </p>
        </div>
        <div class="py-1 align-items-center">
            
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 g-5">
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 1"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 2"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 3"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 4"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 5"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 1"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 2"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 3"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 4"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 5"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 1"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 2"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 3"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 4"></div>
                <div class="col"><img src="~/images/logoBurgi.jpg" class="img-fluid img-cover" alt="Trabajo 5"></div>
            </div>
        </div>
    </div>
</section>
