@{
    ViewData["Title"] = "Portal Institucional - BürgiPlot";
}


<div class="hero-portal py-4">
    <div  class="container text-center py-4">
        <h1 class="display-6 fw-bold mb-2">Gráfica y estética vehicular </h1>
        <p class="lead mb-0">hacemos realidad el cambio que te imaginaste, con innovación, precisión y compromiso</p>
    </div>
    <div class="container text-center py-4"> <!--contacto empresa Burgiplot-->
        <a href="https://wa.me/54934920000000" class="btn btn-gradient btn-outline-success glass btn-lg">
            <i class="bi bi-whatsapp me-1"></i>Escribinos y te cotizamos</a>

    </div>
</div>
<div class=" py-4 bg-sutil">
    <section id="mision" class="container py-4">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="fw-bold mb-3 text-center">Misión</h2>
                <div class="p-1 text-center">
                    <p>Ofrecer un servicio de <strong>alta calidad</strong> 
                        en el rubro de la estética vehicular,<br />
                        con creatividad y materiales de primera,
                        donde el único límite sea tu imaginación.
                    </p>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/misionburgiplot.jpeg" class="img-cover shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </section>


    <section id="vision" class="container py-5">
        
            <div class="row g-4 align-items-center">
                <div class="col-md-6 order-md-2">
                    <h2 class="fw-bold mb-3 text-center">Visión</h2>
                    <div class="p-1 text-center">
                    <p>Ser referentes nacionales en el rubro.<br />
                        Aplicar nuevas técnicas y tecnología de punta para una mejor experiencia.<br />
                        Establecer la marca como un estilo de excelencia y calidad.</p>
                    </div>
                </div>
                <div class="panel-img col-md-6 align-content-center">
                    <img src="~/images/visionburgiplot.jpeg" class="img-cover shadow-lg rounded-3" alt="Misión">
                </div>
            </div>
        
    </section>



    <section id="valores" class="container py-4">
        
            <div class="row g-4 align-items-center">
                <div class="col-md-6">
                    <h2 class="fw-bold mb-3 text-center">Valores</h2>
                    <div class="p-1 text-center">
                        <p>Honestidad, responsabilidad, calidez, calidad e innovación<br />
                            pero por sobre todo, pasión por el detalle.</p>
                    </div>
                </div>
                <div class="panel-img col-md-6 align-content-center">
                    <img src="~/images/valoresburgiplot.jpeg" class="img-cover imgs shadow-lg rounded-3" alt="Misión">
                </div>
            </div>
       
    </section>

    <section id="objetivos" class="container py-5">
       
            <div class="row g-4 align-items-center">
                <div class="col-md-6 order-md-2">
                    <h2 class="fw-bold mb-3 text-center">Objetivos</h2>
                    <div class="p-4 text-center">
                    <p>Escalar el negocio familiar,<br />
                        ganar eficacia en los procesos, <br />
                        mejorar la eficiencia con software<br />
                        y ampliar cartera de clientes.</p>
                    </div>
                </div>
                <div class="panel-img col-md-6 align-content-center">
                    <img src="~/images/objetivosburgiplot.jpeg" class="img-cover imgs shadow-lg rounded-3" alt="Misión">
                </div>
            </div>
        

    </section>
    
</div>

<section id="TrabajosRealizados" class="hero-portal py-5">
    <div class="container">
        <h2 class="fw-bold mb-3">Trabajos realizados</h2>
        <div class="p-4">
            <p>
                Estos son algunos de los trabajos mas relevantes que realizamos lo largo de estos últimos años.
            </p>
        </div>
        <div class="py-1 align-items-center">
            
            <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 g-5">
                <div class="col"><img src="~/images/trabajo1.jpeg" class="img-cover" alt="Trabajo 1"></div>
                <div class="col"><img src="~/images/trabajo2.jpeg" class="img-cover" alt="Trabajo 2"></div>
                <div class="col"><img src="~/images/trabajo3.jpeg" class="img-cover" alt="Trabajo 3"></div>
                <div class="col"><img src="~/images/trabajo4.jpeg" class="img-cover" alt="Trabajo 4"></div>
                <div class="col"><img src="~/images/trabajo5.jpeg" class="img-cover" alt="Trabajo 5"></div>
                <div class="col"><img src="~/images/trabajo6.jpeg" class="img-cover" alt="Trabajo 1"></div>
                <div class="col"><img src="~/images/trabajo7.jpeg" class="img-cover" alt="Trabajo 2"></div>
                <div class="col"><img src="~/images/trabajo8.jpeg" class="img-cover" alt="Trabajo 5"></div>
                <div class="col"><img src="~/images/trabajo9.jpeg" class="img-cover" alt="Trabajo 1"></div>
                <div class="col"><img src="~/images/trabajo10.jpeg" class="img-cover" alt="Trabajo 2"></div>

            </div>
        </div>
    </div>
</section>
