@{
    ViewData["Title"] = "Portal Institucional - BürgiPlot";
}

<section id="nosotros">
    <div class="py-4">
        <div class="hero-principal py-5">
            <div class="container py-5">
                <h1 class="display-1 fw-bold mb-3 mt-5 hero-title">GRÁFICA & ESTÉTICA VEHICULAR</h1>
                <h2 class="lead ms-1 fs-2">Hacemos realidad el cambio que te imaginaste, con innovación, precisión y compromiso</h2>
            </div>
            <div class="container align-content-md-center py-5">
                <!--contacto empresa Burgiplot-->
                <a href="https://wa.me/54934920000000" class="btn btn-gradient btn-outline-success glass ms-5 btn-lg">
                    <i class="bi bi-whatsapp me-2"></i>Escribinos y te cotizamos
                </a>
            </div>
            <div class="row g-4 align-items-center py-4">
            </div>
        </div>
    </div>
</section>

<div class="py-4 hero-portal">
    <section id="mision" class="container py-4">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="display-3 fw-bold mb-3 hero-title text-center">Misión</h2>
                <div class="p-1 text-center">
                    <h1 class="lead">
                        Ofrecer un servicio de <strong>alta calidad</strong><br />
                        en el rubro de la estética vehicular,<br />
                        con creatividad y materiales de primera,
                        donde el único límite sea tu imaginación.
                    </h1>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/misionburgiplot2.jpeg" class="img-cover shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </section>

    <section id="vision" class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="display-3 fw-bold mb-3  hero-title text-center">Visión</h2>
                <div class="p-1 text-center">
                <h1 class="lead">Ser referentes nacionales en el rubro.<br />
                    Aplicar nuevas técnicas y tecnología de punta para una mejor experiencia.<br />
                    Establecer la marca como un estilo de excelencia y calidad.</h1>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/visionburgiplot.jpeg" class="img-cover shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </section>

    <section id="valores" class="container py-4">
        <div class="row g-4 align-items-center">
            <div class="col-md-6">
                <h2 class="display-3 fw-bold mb-3 hero-title text-center">Valores</h2>
                <div class="p-1 text-center">
                    <h1 class="lead">Honestidad, responsabilidad, calidez, calidad e innovación<br />
                        pero por sobre todo, pasión por el detalle.</h1>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/valoresburgiplot.jpeg" class="img-cover imgs shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
       
    </section>

    <section id="objetivos" class="container py-5">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 order-md-2">
                <h2 class="display-3 fw-bold mb-3 hero-title text-center">Objetivos</h2>
                <div class="p-4 text-center">
                <h1 class="lead">Escalar el negocio familiar,<br />
                    ganar eficacia en los procesos, <br />
                    mejorar la eficiencia con software<br />
                    y ampliar cartera de clientes.</h1>
                </div>
            </div>
            <div class="panel-img col-md-6 align-content-center">
                <img src="~/images/objetivosburgiplot.jpeg" class="img-cover imgs shadow-lg rounded-3" alt="Misión">
            </div>
        </div>
    </section>
    
    <section id="TrabajosRealizados" class="py-3">
        <div class="container">
            <h2 class="display-3 fw-bold hero-title mb-3">Trabajos realizados</h2>
            <div class="p-4">
                <h1 class="lead">
                    Estos son algunos de los trabajos mas relevantes que realizamos lo largo de estos últimos años.
                </h1>
            </div>
            <div class="py-1 align-items-center">
            
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 g-5">
                    <div class="col"><img src="~/images/trabajo1.jpeg" class="img-cover" alt="Trabajo 1"></div>
                    <div class="col"><img src="~/images/trabajo2.jpeg" class="img-cover" alt="Trabajo 2"></div>
                    <div class="col"><img src="~/images/trabajo3.jpeg" class="img-cover" alt="Trabajo 3"></div>
                    <div class="col"><img src="~/images/trabajo4.jpeg" class="img-cover" alt="Trabajo 4"></div>
                    <div class="col"><img src="~/images/trabajo5.jpeg" class="img-cover" alt="Trabajo 5"></div>
                    <div class="col"><img src="~/images/trabajo6.jpeg" class="img-cover" alt="Trabajo 1"></div>
                    <div class="col"><img src="~/images/trabajo7.jpeg" class="img-cover" alt="Trabajo 2"></div>
                    <div class="col"><img src="~/images/trabajo8.jpeg" class="img-cover" alt="Trabajo 5"></div>
                    <div class="col"><img src="~/images/trabajo9.jpeg" class="img-cover" alt="Trabajo 1"></div>
                    <div class="col"><img src="~/images/trabajo10.jpeg" class="img-cover" alt="Trabajo 2"></div>

                </div>
            </div>
        </div>
    </section>
</div>