@model WebApplication1.Models.Cliente

@{
    ViewData["Title"] = "Crear cliente";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow rounded-4">
                <div class="hero d-flex align-items-center bg-success text-white py-2 px-3 rounded mb-3 shadow-sm">
                    <i class="bi bi-person-plus-fill fs-4 me-2"></i>
                    <h4 class="mb-0 fw-bold">Crear Cliente</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control rounded-3" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Dirección" class="form-label"></label>
                            <input asp-for="Dirección" class="form-control rounded-3" />
                            <span asp-validation-for="Dirección" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Telefono" class="form-label"></label>
                            <input asp-for="Telefono" class="form-control rounded-3" />
                            <span asp-validation-for="Telefono" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Correo" class="form-label"></label>
                            <input asp-for="Correo" class="form-control rounded-3" />
                            <span asp-validation-for="Correo" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="CuitCuil" class="form-label"></label>
                            <input asp-for="CuitCuil" class="form-control rounded-3" />
                            <span asp-validation-for="CuitCuil" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-accion btn-sm">← Volver</a>
                            <button type="submit" class="btn btn-accion btn-sm btn-ver">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}